<div class="consent-page">
  <div class="consent-card">
    <h1 class="consent-title">
      Tu información es importante <br>
      Queremos que sepas cómo la protegemos
    </h1>
    <p class="consent-text">
      Usamos tus respuestas para ayudarte a comprender tu estado emocional.
      Toda la información es confidencial y será usada únicamente con fines
      de orientación emocional. Puedes decidir si deseas guardar tus datos
      para seguimiento o mantenerlos anónimos.
    </p>
    <h2 class="consent-subtitle">¿Qué debes saber?</h2>
    <ul class="consent-list">
      <li>Tu información es privada y segura</li>
      <li>Solo tú y el equipo de bienestar podrán ver tus datos (si lo autorizas)</li>
      <li>Podemos enviarte recomendaciones según tu estado emocional</li>
      <li>Puedes dejar de usar la app en cualquier momento</li>
      <li>Si lo aceptas, podemos guardar tu historial emocional</li>
    </ul>
    <div class="consent-actions">
      <button class="btn-cancel" (click)=onCancel()>
        CANCELAR
      </button>
      <button class="btn-accept" (click)=onAccept()>
        ACEPTAR
      </button>
    </div>
  </div>
</div>
